body {
    margin: 0;
    font-family: Arial;
    background: #f8f8f8;
}

header {
    background: #1e3a8a;
    color: #fff;
    text-align: center;
    padding: 30px 10px;
}

.products, .services, .map {
    padding: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 200px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* WhatsApp Button CSS */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;       /* smaller size */
  height: 60px;
  z-index: 9999;
}

.whatsapp-button img {
  width: 100%;
  height: 100%;
}
